<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.technocurl.www.zendernewdesign">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeWelcome">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:theme="@style/AppTheme"></activity>
        <activity
            android:theme="@style/AppThemeQuize"
            android:name=".quize.QuizeActivity" />
        <activity
            android:theme="@style/AppThemeResult"
            android:name=".quize.ResultActivity"></activity>

        <activity android:name=".ChinessActivity" android:theme="@style/AppThemeChiness"/>
        <activity android:name=".BloodActivity" android:theme="@style/AppThemeBlood"></activity>
        <activity android:name=".BloodActivityResultBoy" android:theme="@style/AppThemeBlood"></activity>
        <activity android:name=".BloodActivityResultGirl" android:theme="@style/AppThemeBlood"></activity>
    </application>

</manifest>